{% extends 'food_delivery/base.html' %}

{% block header %}
    Order Confirmed
{% endblock header %}

{% load convertDollar %}

{% block main-content %}

<div class="text-center mb-4" style="font-size:1.2em;">
    These tasty things coming to your home in 3 days <i class="fas fa-laugh-beam"></i><br>
    <div class="text-muted">
        Redirecting to home page in 10 seconds. Please don't press the back button or refresh this page
    </div>
</div>
<table class="table text-center w-100 ">
    <thead>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Food</th>
            <th scope="col">Quantity</th>
            <th scope="col">Cost Per Piece</th>
            <th scope="col">Cost</th>
        </tr>
    </thead>
    <tbody>
        {% for foodInfo in foodInfos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ foodInfo.food.name }}</td>
                <td>
                    {{ foodInfo.quantity }}
                </td>
                <td>{{ foodInfo.food.actualValue }}</td>
                <td>{{ foodInfo.foodCost }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" class="border-right">Total Cost</td>
            <td colspan="2"><i class="fas fa-rupee-sign"></i>{{ user.cart.totalCost }} = ${{ user.cart.totalCost|convertDollar }}</td>
        </tr>
        <tr>
            <td class="border-right">Address</td>
            <td colspan="4">{{ userAddress.localityAddress }}, {{ userAddress.city }}, {{ userAddress.state }}, PIN: {{ userAddress.pin }}</td>
        </tr>
    </tbody>
</table>


<div class="m-2 text-center mb-5 pb-5">
    <div class="">
        Being Delivered to: {{ userAddress.localityAddress }}, {{ userAddress.city }}, {{ userAddress.state }}, PIN: {{ userAddress.pin }}
    </div>
    <div class="">
        Ordered on: {{ todayDate }}
    </div>
    <div class="">
        To be delivered By: {{ deliveryDate }}
    </div>
</div>

<script>
    function deleteRidirector() {
        window.location.href = "{% url 'cart-confirmed-delete' %}";
    }

    setTimeout( deleteRidirector, 10000)
</script>

{% endblock main-content %}