{% extends 'food_delivery/base.html' %}

{% load crispy_forms_tags %}
{% block header %}
    Reset Password
{% endblock header %}

{% block main-content %}
<form method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend>
            {{ form|crispy }}
        </legend>
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info px-5 w-50" type="submit">
            Request to reset password
        </button>
    </div>
</form>
{% endblock main-content %}
