{% extends 'food_delivery/base.html' %}

{% load crispy_forms_tags %}
{% block header %}
    Your Information
{% endblock header %}

{% block main-content %}
<div class="row pb-5" >
    <div class="col-lg-4 m-3 center media">
        <img src="{{ user.profile.image.url }}" alt="Profile Photo of {{ user.username }}" class="text-center img-thumbnail" style="max-height: 500px; min-width:200px;">
    </div>
    <div class="col-lg-6 py-4 px-4 m-3">
        <h2>{{ user.username }} </h2>
        <p>
            Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a> <br>
            Address: {{ user.address }}
        </p> 
        <div class="text-center m-3">
            <div class="btn btn-secondary p-2 text-center mt-3" id="update-button">
                Update your Information
            </div>
        </div>
        <div class="mt-4">
            If you want to sell food, create a page for your food on our page. 
            <div class="text-center">
                <a href="{% url 'food-delivery-create' %}" class="btn btn-primary mt-3 p-2 text-center">
                    Create Food Page
                </a>
            </div>
        </div>
        <div class="mt-4">
        </div>
    </div>
</div>    


<!-- user Information Update form -->
<form method="post"  enctype="multipart/form-data" class="mb-5 pb-3 d-none" id="update-form">  <!-- this enctype is for image to save properly -->
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="mt-4 mb-4 text-center">Profile Info</legend>
        {{ userUpdateForm|crispy }}
        {{ profileUpdateForm|crispy }}
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info px-5" type="submit">
            Update
        </button>
    </div>
</form>

<script>
    const updateForm = document.getElementById( 'update-form');
    const updateBtn = document.getElementById( 'update-button');

    updateBtn.onclick = function() {
        updateForm.classList.toggle("d-none");
        updateBtn.classList.toggle( "d-none");
    }

</script>

{% endblock main-content %}
