{% extends 'food_delivery/base.html' %}

{% load crispy_forms_tags %}
{% block header %}
Join Today
{% endblock header %}

{% block main-content %}
<form method="post" class="mb-5 pb-5">
    {% csrf_token %}
    <p>You need to add more Information before you can proceed</p>
    
    <fieldset class="form-group">
        {{ form|crispy }}
        {{ form2|crispy }}
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info px-5 w-25" type="submit">
            Submit
        </button>
    </div>
</form>
{% endblock main-content %}
