{% extends 'food_delivery/base.html' %}

{% load crispy_forms_tags %}
{% block header %}
    Your Information
{% endblock header %}

{% block main-content %}
<div class="row pb-5" >
    <div class="col-lg-4 m-3 center media">
        <img src="{{ user.profile.image.url }}" alt="Profile Photo of Shubham Ojha" class="text-center img-thumbnail" style="max-height: 500px;">
    </div>
    <div class="col-lg-6 py-4 px-4 m-3">
        <h2>{{ user.username }} </h2>
        <p>
            Email: <a href="mailto:{{ user.email }}">{{ user.email }}</a> <br>
            Address: {{ user.address }}
        </p> 
    </div>
</div>    
<form method="post"  enctype="multipart/form-data" class="mb-5 pb-3">  <!-- this enctype is for image to save properly -->
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="m-4">Profile Info</legend>
        {{ userUpdateForm|crispy }}
        {{ profileUpdateForm|crispy }}
    </fieldset>
    <div class="form-group text-center">
        <button class="btn btn-outline-info px-5" type="submit">
            Update
        </button>
    </div>
</form>
{% endblock main-content %}
